* {
    box-sizing: border-box;
  }
  
  body {
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  button,
  input {
    font-family: inherit;
    font-size: 100%;
    background: #ffffff;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    transition: 500ms;
  }
  
  h2 {
    color: #2800ff;
  }
  